/*
Student Name and Number : 
    Aaditya Raj Karki (c0936839)
    Arjun Gautam (c0933548) 
    Yougal Bimali (c0938141)
    Deepak Gharti (c0935260)
    Yadav Siwakoti (c0932910)
    Paras Karki (c0916132)
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #264653;
    background-color: #f4f4f9;
}

/* Header styles */
header {
    background-color: #2a9d8f;
    color: white;
    padding: 1rem 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* About Us section styles */
.about-us {
    padding: 2rem 0;
    background-color: #ffffff;
}

.container {
    width: 80%;
    margin: auto;
    max-width: 1200px;
}

.about-us h1 {
    text-align: center;
    color: #2a9d8f;
    margin-bottom: 1.5rem;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.content .text {
    flex: 1;
    min-width: 300px;
    margin-right: 1rem;
}

.content .text h2 {
    color: #264653;
    margin-bottom: 0.5rem;
}

.content .text p {
    margin-bottom: 1rem;
    color: #264653;
}

.content .image {
    flex: 1;
    min-width: 300px;
}

.content .image img {
    max-width: 100%;
    border-radius: 10px;
}

/* Footer styles */
footer {
    background-color:  #2a9d8f;;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

footer p {
    margin: 0;
}
